body {
    background-image: url("background.jpg");
    background-size: cover;
    
    font-family: 'Rubik', sans-serif;    
    font-weight: bold;
    text-align: center;
    color: #36393B;
    background-color: #36393B;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid #36393B;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#increment-btn {
    background: #813405;
}

#save-btn {
    background: #F9A03F;
}

#page {
    max-width: 50vh;
}
